<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <div class="container">

        <div class="about-left">
          <h1>ABOUT US</h1>

          <div class="about-left2">
            <p>Hello! I'm Pushkar, a skilled web developer and designer with a passion for creating dynamic, user-friendly websites. With a masterful command of web technologies, I bring ideas to life with clean code and compelling design. Alongside web development, I’m proficient in Photoshop for crafting stunning visuals and Excel for data management and analysis. My goal is to deliver seamless, impactful digital experiences that align with modern trends and client needs. Let’s build something remarkable together!</p>
        </div>
        </div>
    </div>
</body>
</html>